@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: normal;
	color: #001A46;
	background: #fff;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #001A46;
	line-height: 20px;
	margin: 0 0 15px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0.001em;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 41px;
	line-height: 41px;
	font-weight: bold;
	margin: 0 0 25px;
	letter-spacing: 0;
	color: #09005D;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	line-height: 56px;
	font-weight: bold;
	margin: 0 0 15px;
	letter-spacing: 0;
	color: #001A46;
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 31px;
	line-height: 42px;
	font-weight: bold;
	margin: 0 0 15px;
	letter-spacing: 0;
	color: #1F65DD;
}
h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	line-height: 42px;
	font-weight: bold;
	margin: 0 0 15px;
	letter-spacing: 0;
	color: #1F65DD;
}
h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	line-height: 36px;
	font-weight: bold;
	margin: 0 0 15px;
	letter-spacing: 0;
	color: #001A46;
}
h6 {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 27px;
	font-weight: bold;
	margin: 0 0 15px;
	letter-spacing: 0;
	color: #1F65DD;
}
img,
 iframe {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
ul,
li,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
.btn {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #fff;
	letter-spacing: 0rem;
	display: inline-block;
	padding: 9px 119px;
	background: #001A46;
	font-weight: 400;
	line-height: normal;
	border-radius: 30px;
	border: solid 2px #001A46;
	text-decoration: none;
	cursor: pointer;
	letter-spacing: 0em;
}
.btn:hover {
	color: #001A46;
	background: #fff;
	border: solid 2px #001A46;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
}
a {
	color: #44c6ff;
	outline: none;
}
object {
	pointer-events: none;
}
.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.container:after {
	clear: both;
	display: block;
	content: "";
}

/* useful */
.flex{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.flex-wrap{
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.justify-center{
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}
.justify-between{
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
}
.justify-end{
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
}
.align-center{
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

/* header */
.main-header {
	height: 74px;
	background: #061836;
	width: 100%;
	z-index: 999;
	transition: top 0.5s ease 0s;
    -webkit-transition: top 0.5s ease 0s;
    -moz-transition: top 0.5s ease 0s;
    -o-transition: top 0.5s ease 0s;
}
.sticky{
	position: fixed;
    top: -200px;
    width: 100%;
    transition: top 0.5s ease 0s;
    -webkit-transition: top 0.5s ease 0s;
    -moz-transition: top 0.5s ease 0s;
    -o-transition: top 0.5s ease 0s;
}
.main-header .container{
	max-width: 1380px;
}
.header-left{
	width: 18%;
}
.header-right{
	width: 82%;
}
.nav-btns{
	width: 33.26%;
}
.nav-menu ul li{
	margin-right: 37px;
	position: relative;
}
.nav-menu ul li:last-child{
	margin-right: 0px;
}
.nav-menu ul li a{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: 25px 0;
	position: relative;
	display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.nav-menu ul li a::after{
	content: "";
	width: 100%;
	height: 3px;
	background: #001A46;
	position: absolute;
	left: 0;
	top: 100%;
	border-radius: 100px;
}
.nav-menu ul li a:hover{
	color: #95C5F8;
}
.nav-drop a, .nav-drop a span{
	display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	margin-left: 9px;
}
.nav-menu ul li.menu-active a{
	color: #95C5F8;
}
.nav-menu ul li.menu-active a::after{
	background: #86B1F2;
}
.nav-btns ul li a{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
}
.nav-btns .log-btn{
	color: #CCD1DA;
	border: 2px solid #CCD1DA;
	border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding: 4px 30px;
    display: inline-block;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}
.nav-btns .log-btn:hover{
	color: #fff;
	background: #265FFB;
	border: 2px solid #265FFB;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
}
.nav-btns .cont-btn{
	font-family: 'Montserrat', sans-serif;
	background: #265FFB;
    border: 2px solid #265FFB;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding: 4px 41px;
    display: inline-block;
    margin: 0 0 0 10px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}
.nav-btns .cont-btn:hover {
	color: #fff;
	background: #061836;
	border: 2px solid #CCD1DA;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
}

/* banner */
.home-banner-sec{
	background: url('../images/bnr-dots.png') left top repeat;
	width: 100%;
	height: 707px;
	position: relative;
}
.home-banner-sec::after{
	content: "";
	background: url('../images/bnr-dmd.png') center top no-repeat;
	background-size: contain;
	position: absolute;
	right: 0;
	top: 0;
	width: 478px;
	height: 100%;
	z-index: 10;
}
.home-bnr-area{
	max-width: 587px;
	position: absolute;
	top: 48.3%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.home-bnr-area h1{
	text-align: center;
	margin-bottom: 37px;
}
.home-bnr-area p{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	color: #001A46;
	letter-spacing: 0.001em;
	line-height: 20px;
}
.first-month-sec{
	background: #F8F8F8 url('../images/bnr-dots.png') center center repeat;
	background-size: cover;
	position: relative;
	width: 100%;
}
.first-month-sec::before{
	content: "";
	background: url('../images/first-img.png') center top no-repeat;
	background-size: contain;
	width: 518px;
	height: 100%;
	position: absolute;
	left: 0;
	top: -40px;
	z-index: 2;
}
.first-month{
	padding-bottom: 148px;
}
.first-month h5{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #004ED7;
	max-width: 427px;
	margin: 0 auto;
}
.month-free{
	background: #E8F0FF;
	border-radius: 20px;
	max-width: 651px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: -95px;
	z-index: 5;
	padding: 56px 0 40px;
	margin-bottom: 17px;
}
.free-icon{
	position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.month-free p{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: normal;
	margin: 0 0 25px;
}
.month-free a.btn{
	position: relative;
}
.btn-arw::after{
	content: "";
	background: url('../images/right-arw.svg') center center no-repeat;
	width: 9px;
	height: 9px;
	position: absolute;
	right: 25px;
	top: 14px;
}
.btn-arw:hover::after{
	background: url('../images/right-arw-bw.svg') center center no-repeat;
}
.how-it-sec{
	padding: 95px 0 0;
	background: rgb(238,245,255);
	background: -moz-linear-gradient(180deg, rgba(238,245,255,1) 0%, rgba(255,255,255,1) 60%);
	background: -webkit-linear-gradient(180deg, rgba(238,245,255,1) 0%, rgba(255,255,255,1) 60%);
	background: linear-gradient(180deg, rgba(238,245,255,1) 0%, rgba(255,255,255,1) 60%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eef5ff",endColorstr="#ffffff",GradientType=1);	
	margin-bottom: 156px;
}
.how-it-work{
	max-width: 508px;
	margin: 0 auto;
	text-align: center;
}
.how-it-work h2{
	font-size: 37px;
	line-height: 37px;
	margin: 0 0 35px;
}
.how-it-work h6{
	font-size: 16px;
	line-height: 18px;
	margin: 0 0 38px;
}
.data-drive-sec{
	position: relative;
}
.data-drive-sec .container{
	max-width: 1210px;
}
.line-top{
	width: 2px;
	height: 160px;
	position: absolute;
	top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
	background: rgb(105,163,255);
	background: -moz-linear-gradient(0deg, rgba(105,163,255,1) 0%, rgba(105,163,255,0) 100%);
	background: -webkit-linear-gradient(0deg, rgba(105,163,255,1) 0%, rgba(105,163,255,0) 100%);
	background: linear-gradient(0deg, rgba(105,163,255,1) 0%, rgba(105,163,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#69a3ff",endColorstr="#69a3ff",GradientType=1);	
}
.data-drive{
	position: relative;
	top: 22px;
}
.data-drive::after{
	content: "";
	background: #69A3FF;
	width: 2px;
	height: 100%;
	position: absolute;
	top: 160px;
	left: 50%;
}
.drive-list{
    list-style: none;
}
.drive-list li{
	display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	-webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
	width: 100%;
	padding: 50px 0;
}
.anylist-icon{
	display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
	-webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
	width: 9.84%;
}
.anylist-icon img{
	background: #fff;
    padding: 22px 0 28px;
	position: relative;
	z-index: 5;
}
.drive-left, .drive-right{
	width: 45.08%;
}
.drive-left h3{
	margin: 0 0 25px;
}
.drive-left p{
	max-width: 490px;
}
.drive-right{
	display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}
.drive-list li:nth-child(even){
	-webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.drive-list li:nth-child(1){
	padding-top: 0;
}
.drive-list li:nth-child(1) .drive-left{
	padding-top: 58px;
	padding-right: 30px;
}
.drive-list li:nth-child(2){
	padding: 70px 0;
}
.drive-list li:nth-child(2) .drive-left{
	padding-left: 50px;
	padding-top: 48px;
}
.drive-list li:nth-child(2) .anylist-icon{
	padding: 22px 0 40px;
}
.drive-list li:nth-child(3){
	padding-bottom: 22px;
}
.drive-list li:nth-child(3) .drive-left{
	padding-top: 46px;
}
.mount-bg {
	position: relative;
	padding-top: 5px;
}
.mount-bg img{
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
}
.testimonials-sec{
	background: rgb(207,241,255);
	background: -moz-linear-gradient(180deg, rgba(207,241,255,1) 0%, rgba(207,241,255,0) 100%);
	background: -webkit-linear-gradient(180deg, rgba(207,241,255,1) 0%, rgba(207,241,255,0) 100%);
	background: linear-gradient(180deg, rgba(207,241,255,1) 0%, rgba(207,241,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cff1ff",endColorstr="#cff1ff",GradientType=1);
	position: relative;
}
.testimo{
	max-width: 1150px;
	margin: 0 auto;
	text-align: center;
}
.testimo h2{
	margin:  0 0 21px;
}
.testimo-owl .owl-item{
	padding: 15px;
}
.testimo-owl .test-box{
	background: #005DFF;
	border-radius: 30px;
	padding: 48px 47px 37px;
	box-shadow: 0px 0px 18px rgb(216 218 221 / 90%);
    -webkit-box-shadow:  0px 0px 18px rgb(216 218 221 / 90%);
    -moz-box-shadow: 0px 0px 18px rgb(216 218 221 / 90%);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}
.testimo-owl .quote-icon{
	text-align: center;
	margin-bottom: 31px;
}
.testimo-owl .quote-icon img{
	width: 61px;
}
.testimo-owl .test-box p{
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
	color: #fff;
	margin: 0 0 27px;
}
.test-disc .test-img img{
	width: 95px;
	height: 95px;
	border-radius: 50%;
}
.test-disc .test-txt{
	text-align: left;
	margin-left: 25px;
	padding-top: 7px;
}
.test-disc .test-txt h5{
	font-size: 22px;
	font-weight: 500;
	line-height: normal;
	color: #fff;
	margin: 0;
}
.test-disc .test-txt h6{
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #fff;
}
.testimo-owl.owl-carousel .owl-nav, .testimo-owl.owl-carousel .owl-dots{
	display: block !important;
}
.testimo-owl.owl-carousel .owl-nav{
	background: #001A46;
	max-width: 200px;
	margin: 0 auto;
	height: 24px;
	border-radius: 50px;
	position: relative;
	z-index: 10;
}
.testimo-owl.owl-carousel .owl-nav .owl-prev span{
	position: absolute;
	left: 13px;
	top: 7px;
	color: #fff;
	background: url('../images/owl-left.png') center center no-repeat;
	width: 11px;
	height: 11px;
	font-size: 0;
	z-index: 10;
}
.testimo-owl.owl-carousel .owl-nav .owl-next span{
	position: absolute;
	right: 13px;
	top: 7px;
	color: #fff;
	background: url('../images/owl-right.png') center center no-repeat;
	width: 11px;
	height: 11px;
	font-size: 0;
	z-index: 90;
}
.testimo-owl.owl-carousel .owl-dots{
	max-width: 130px;
	margin: 0 auto;
	position: relative;
    margin-top: -20px;
    z-index: 70;
}
.testimo-owl.owl-carousel .owl-dots button{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #86B1F2;
	margin: 0 8px;
}
.testimo-owl.owl-carousel .owl-dots button.active{
	color: #fff;
}
.testimo-owl.owl-carousel .owl-dots {
    counter-reset: dots;
}
.testimo-owl.owl-carousel .owl-dot:before {
    counter-increment:dots;
    content: counter(dots);
}
.testimo-owl.owl-carousel .owl-stage-outer{
	margin-bottom: 25px;
}
.business-plan-sec {
	padding: 88px 0 0;
}
.business-team {
	background: #3245F0;
	border-radius: 30px;
	max-width: 549px;
	margin: 0 auto;
	padding: 0 60px 37px;
}
.team-icon {
	text-align: center;
	margin-bottom: 40px;
}
.team-icon img {
	margin-top: -47px;
}
.business-team p {
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	color: #fff;
}
.business-team .team-pic {
	margin: 20px auto 24px;
	text-align: center;
}
.team-caption {
	padding-left: 118px;
}
.team-caption p:first-child {
	margin-bottom: 0;
}
p.team-txt {
	font-weight: normal;
	font-size: 16px;
}
.team-all {
	text-align: center;
}
.team-all a {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	text-decoration-line: underline;
	text-transform: capitalize;
	color: #FFFAFA;
	margin-top: 5px;
}
.pick-plan {
	padding: 92px 15px 50px;
}
.pick-plan h2 {
	text-align: center;
	color: #1F65DD;
	margin-bottom: 24px;
}
.pick-plan p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	max-width: 548px;
	margin: 0 auto;
}
.price-list-sec {
	overflow: auto;
}
.price-list-sec ul {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 1164px;
	margin: 15px auto 15px;
}
.price-list-sec ul li {
	background: #FFFFFF;
	border-radius: 20px;
	margin-right: 15px;
	width: calc(100%/3 - 10px);
	box-shadow: 0px -5px 20px -7px rgba(0,0,0,0.30);
	-webkit-box-shadow: 0px -5px 20px -7px rgba(0,0,0,0.30);
	-moz-box-shadow: 0px -5px 20px -7px rgba(0,0,0,0.30);
}
.price-list-sec ul li:last-child {
	margin-right: 0px;
}
.price-view {
	padding: 41px 30px 22px 43px;
	position: relative;
}
.price-view h5 {
	font-size: 30px;
	margin: 0;
}
.price-view h6 {
	font-weight: 400;
	color: #707070;
	margin: 0 0 13px;
}
.price-view h3 {
	font-weight: 500;
	font-size: 42px;
	line-height: 49px;
	color: #005DFF;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
	margin-bottom: 22px;
}
.price-view h3 span {
	font-size: 20px;
	font-weight: 500;
	line-height: 36px;
	color: #005DFF;
	margin-left: 8px;
}
.price-view p {
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	color: #707070;
	margin-bottom: 62px;
	max-width: 305px;
	letter-spacing: 0.001em;
}
.price-view a {
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	text-decoration-line: underline;
	color: #001A46;
}
.price-view::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 58px;
	width: 100%;
	height: 2px;
	background: #e7e6ee;
}
.contact-sales-team {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    max-width: 1166px;
    margin: 0 auto;
    position: relative;
	background: #003CA4;
	height: 107px;
	border-radius: 20px;
	padding-left: 48px;
	padding-right: 58px;
}
.contact-sales-team p{
	margin: 0;
}
.sales-left p{
	font-size: 27px;
	font-weight: 400;
	color: #fff;
}
.sales-right a.btn{
	padding: 13px 66px;
	font-size: 18px;
	font-weight: 500;
	color: #000;
	background: #fff;
	border: 2px solid #fff;
}
.sales-right a.btn:hover{
	color: #fff;
	background: #001A46;
	border: solid 2px #001A46;
	transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}
.why-explore-sec{
	padding: 170px 0 153px;
}
.why-explore-sec .container{
	max-width: 1166px;
}
.why-title{
	text-align: center;
	max-width: 688px;
	margin: 0 auto;
}
.why-title h2{
	font-size: 42px;
	margin: 0 0 30px;
}
.why-title p{
	font-size: 18px;
	color: #707070;
	line-height: 26px;
}
.why-list li{
	background: #F8F9FB;
	width: calc(100%/3 - 40px/3);
	margin-right: 20px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.25);
	padding: 64px 50px 21px;
	margin-bottom: 25px;
}
.why-list li:hover{
	background: #FCFFFE;
}
.why-list li:nth-child(3n + 3), .why-list li:last-child{
	margin-right: 0;
}
.why-list li > img{
	margin-bottom: 6px;
}
.why-list li h5{
	margin: 0 0 9px;
}
.why-list li p{
	font-size: 16px;
	letter-spacing: 0.001em;
	line-height: 22px;
}
.inst-img{
	height: 102px;
	margin-bottom: 7px;
}
.comp-title{
	margin: 0 auto;
	text-align: center;
}
.comp-title h3{
	font-size: 28px;
	line-height: 32px;
	max-width: 438px;
	margin: 0 auto 15px;
	text-align: center;
}
.comp-title p{
	font-size: 18px;
	line-height: 24px;
	max-width: 554px;
	margin: 0 auto;
	text-align: center;
}
.client-logos-sec {
	padding-top: 80px;
	padding-bottom: 110px;
}
.client-logos-sec .container{
	max-width: 1190px;
}
.client-logos-sec .owl-logos .item {
	width: 272.5px;
}
.client-logos-sec .owl-logos .item img {
	height: 70px;
	object-fit: cover;
}
.client-logos-sec .owl-logos .owl-logos-left {
	margin-right: 50px;
	margin-bottom: 10px;
}
.client-logos-sec .owl-logos .owl-logos-right {
	margin-left: 78px;
}
.save-time-sec{
	padding: 75px 0;
	background: #F3F3F3;
}
.save-time{
	max-width: 1193px;
	margin: 0 auto;
	background: #005DFF;
	padding: 0 70px  0 74px;
	height: 132px;
	border-radius: 20px;
}
.save-list{
	width: 100%;
}
.save-list li{
	display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	-webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	-webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.save-list li p{
	margin-bottom: 0;
}
.save-list li:nth-child(1){
	width: 37.11%;
}
.save-list li:nth-child(1) p{
	font-size: 27px;
	line-height: 36px;
	color: #fff;
	font-weight: 400;
}
.save-list li:nth-child(2){
	width: 23.79%;
}
.save-list li:nth-child(2) p{
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}
.save-list li:nth-child(3){
	width: 39.10%;
	-webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
}
.save-list li:nth-child(3) a.btn{
	padding: 8.5px 124px;
}
.footer-main{
	background: #001A46;
	padding: 160px 0;
}
.footer-main .container{
	max-width: 1222px;
	padding-right: 57px;
}
.footer-left{
	width: 48.79%;
}
.footer-right{
	width: 51.21%;
	padding-top: 4px;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.footer-main .footer-right h4 {
	font-size: 22px;
	font-weight: 500;
	line-height: 26px;
	color: #FFFFFF;
	margin-bottom: 26px;
}
.footer-main .footer-right ul li {
	margin-bottom: 10px;
}
.footer-main .footer-right ul li a {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
}
.footer-main .footer-right ul li a:hover {
	color: #95C5F8;
}
.footer-main .footer-right .footer-1 {
	width: 38.35%;
}
.footer-main .footer-right .footer-2 {
	width: 44.89%;
}
.footer-main .footer-right .footer-3 {
	width: 16.76%;
}
.social-ftr{
	margin-bottom: 13px;
}
.social-ftr ul li{
	margin-right: 8px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #005DFF;
	border-radius: 50%;
}
.social-ftr ul li a{
	font-size: 14px;
	color: #fff;
}
.social-ftr ul li a:hover{
	color: #95C5F8
}
.footer-logo{
	margin-bottom: 30px;
}
.footer-left p{
	font-size: 12px;
	font-weight: 400;
	line-height: 17px;
	color: #fff;
}
/* --about-us-- */
.banner-inner{
    width: 100%;
    height: auto;
    position: relative;
}
.banner-inner::after {
    content: "";
    background: url(../images/bnr-dmd.png) center top no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
    width: 478px;
    height: 100%;
    z-index: -1;
}
.banner-inner .home-bnr-area{
	position: initial;
	transform: none;
	margin: 0 auto;
	padding-top: 127px;
	padding-bottom: 66px;
}
.banner-inner .home-bnr-area{
	max-width: 577px;
}
.banner-inner .home-bnr-area h1{
	max-width: 450px;
	margin: 0 auto 23px;
}
.banner-inner .home-bnr-area p{
	line-height: 21px;
}
.diamond-sec{
	background: #E8F0FF;
	padding: 89px 0 56px;
	position: relative;
}
.diamond-row{
	max-width: 592px;
	margin: 0 auto;
	text-align: center;
}
.diamond-sec h2{
	font-size: 32px;
	line-height: 38px;
}
.our-company-sec{
	padding: 98px 0 82px;
}
.value-title{
	max-width: 448px;
	margin: 0 auto;
	text-align: center;
}
.value-title h2{
	font-size: 37px;
	line-height: 37px;
	margin-bottom: 21px;
}
.value-title p{
	line-height: 21px;
}
.company-value{
	max-width: 1204px;
	margin: 0 auto;
	padding-top: 47px;
}
.company-value li{
	width: 100%;
	display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	-webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.value-left, .value-right{
	width: 50%;
}
.value-right{
	text-align: right;
}
.company-value li{
	padding: 34px 0;
}
.company-value li .value-left{
	padding-top: 60px;
	padding-left: 102px;
}
.company-value li h3{
	line-height: 36px;
	margin: 0 0 9px;
}
.company-value li p{
	max-width: 445px;
	margin: 0 0 20px;
	font-size: 14px;
}
.company-value li:nth-child(even){
	-webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.company-value li:nth-child(even) .value-right{
	text-align: left;
}
.company-value li:nth-child(even) .value-left{
	padding-left: 38px;
}
.company-value li:nth-child(2) .value-left{
	padding-top: 94px;
}
.company-value li:nth-child(3){
	padding-top: 28px;
	padding-bottom: 30px;
}
.company-value li:nth-child(3) .value-left{
	padding-top: 48px;
}
.company-value li:nth-child(4) .value-left{
	padding-top: 46px;	
}
.company-value li:nth-child(5) .value-left{
	padding-top: 108px;	
}
.company-value li:nth-child(6) .value-left{
	padding-top: 84px;
}
.company-value li:nth-child(7){
	padding-top: 38px;
}
.company-value li:nth-child(7) .value-left{
	padding-top: 130px;
}
.company-value li:nth-child(8) .value-left{
	padding-top: 93px;
}
.company-value li:nth-child(8){
	padding: 32px 0 27px;
}
.abt-save{
	padding: 101px 0;
}
/* --blog-page-- */
.blog-bnr .home-bnr-area{
	max-width: 489px;
	padding-top: 95px;
	padding-bottom: 64px;
}
.blog-bnr .home-bnr-area h1 {
    margin: 0 auto 29px;
}
.blog-area-sec{
	position: relative;
	padding-bottom: 72px;
}
.blog-area-sec::before{
	content: "";
	background: url('../images/first-img.png') center top no-repeat;
	background-size: cover;
	width: 467px;
	height: 304px;
	object-fit: cover;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
}
.blog-area{
	width: 100%;
	max-width: 1158px;
	margin: 0 auto;
}
.blog-area li{
	display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	-webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	width: calc(100%/3 - 10px);
	margin-right: 15px;
	margin-bottom: 30px;
}
.blog-area li:last-child, .blog-area li:nth-child(3n + 3){
	margin-right: 0;
}
.blog-area .blog-box{
	background: #fff;
	border-radius: 15px;
	position: relative;
	padding: 15px 16px;
	box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.2);
}
.blog-area .blog-box .blog-date{
	position: absolute;
	left: 25px;
	top: 25px;
	background: #09005D;
	padding: 4px 13px;
	border-radius: 4px;
}
.blog-area .blog-box img{
	width: 100%;
	border-radius: 4px;
}
.blog-area .blog-box .blog-date p{
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	color: #fff;
	margin: 0;
}
.blog-area .blog-box h6{
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #707070;
	margin: 16px 0 5px;
}
.blog-area .blog-box h5{
	font-size: 20px;
	line-height: 24px;
	color: #005DFF;
	margin: 0 0 5px;
}
.blog-area .blog-box p{
	font-size: 17px;
	line-height: 24px;
	color: #707070;
}
/* contact-page */
.contact-bnr .home-bnr-area{
	padding-bottom: 50px;
}
.contact-bnr .home-bnr-area h1{
	margin-bottom: 15px;
}
.contact-area-sec{
	padding: 0 0 80px;
}
.contact-area-sec .container{
	max-width: 1072px;
}
.contact-area .cont-left{
	width: 47.12%;
	padding-top: 15px;
}
.contact-area .cont-right{
	width: 52.88%;
	padding-left: 56px;
}
.contact-area h2{
	font-size: 31px;
	line-height: 36px;
	color: #1F65DD;
	margin: 0 0 19px;
}
.cont-left ul li{
	display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	-webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	margin-bottom: 20px;
}
.cont-left ul li:nth-child(2){
	margin-bottom: 16px;
}
.cont-left .cont-img{
	padding-top: 3px;
	width: 28px;
	margin-right: 12px;
}
.cont-left .cont-disc{
	width: calc(100% - 40px);
}
.cont-left .cont-disc h6{
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	color: #001A46;
	margin: 0;
}
.cont-left .cont-disc p{
	letter-spacing: normal;
	max-width: 256px;
	margin: 0;
}
.cont-left .cont-disc a{
	font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #001A46;
    line-height: 20px;
    margin: 0 0 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
	text-decoration: none;
}
.cont-left .cont-map{
	padding: 14px 0;
}
.cont-left .cont-map img{
	max-width: 490px;
	width: 100%;
	height: 179px;
	object-fit: cover;
	border-radius: 14px;
}
.get-in{
	padding: 42px 44.5px 40px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0px 9px 7px 0px rgb(0 0 0 / 7%);
    -webkit-box-shadow: 0px 9px 7px 0px rgb(0 0 0 / 7%);
    -moz-box-shadow: 0px 9px 7px 0px rgba(0,0,0,7%);
}
.cont-form{
	padding-bottom: 9px;
}
.cont-form li{
	display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	-webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	margin-bottom: 15px;
}
.cont-form li input, .cont-form li textarea{
	font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #707070;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 0.001em;
	height: 50px;
	border: 1px solid #E5E5E5;
	outline: none;
	border-radius: 65px;
	background: #FCFCFC;
	padding: 0 20px;
	width: 100%;
}
.cont-form li textarea{
	resize: none;
	height: 138px;
	border-radius: 10px;
	padding: 20px;
}
.cont-form li .cont-input{
	-webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
}
.cont-form li .cont-input input{
	max-width: 191px;
	margin-right: 20px;
} 
.cont-form li .cont-input input:last-child{
	margin-right: 0;
} 
.cont-submit{
	padding: 8.5px 48px;
}




/* responsive */
@media screen and (min-width: 992px){
	.right-submenu {
		position: absolute;
		background: #fff;
		left: 0;
		top: 100%;
		z-index: 99;
		width: 230px;
		padding:10px 0;
		opacity: 0;
		visibility: hidden;
		z-index: -99;
		border-top: 3px solid #061836;
	}
	.nav-drop:hover .right-submenu {
		opacity: 1;
		visibility: visible;
		z-index: 99;
	}
	.nav-menu .right-submenu ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.nav-menu .right-submenu li {
		padding: 0;
		list-style: none;
		display: block;
		margin: 0;
	}
	.nav-menu .right-submenu li a {
		font-size: 14px;
		color: #959595;
		padding: 10px;
		text-decoration: none;
		display: block;
		font-weight: 500;
		position: relative;
		margin-left: 0;
	}
	.nav-menu .right-submenu li a:hover {
		color: #fff;
		background: #265FFB;
		border-radius: 8px;
	}
	.nav-menu .right-submenu li a::after{
		display: none;
	}
	.mobile-header, .closebtn{
		display: none;
	}
}
@media screen and (min-width: 768px){
	.footer-left.social-mb{
		display: none;
	}
}
@media screen and (max-width: 1600px){
	.first-month-sec::before{
		width: 378px;
	}
}
@media screen and (max-width: 1199px){
	h1{
		font-size: 36px;
		line-height: 40px;
	}
	h2{
		font-size: 32px;
		line-height: 36px;
	}
	h3{
		font-size: 27px;
		line-height: 36px;
	}
	.home-banner-sec::after{
		width: 318px;
	}
	.banner-inner::after{
		width: 368px;
	}
	.home-banner-sec{
		height: 627px;
	}
	.home-bnr-area{
		top: 46.3%;
	}
	.home-bnr-area h1{
		margin-bottom: 25px;
	}
	.first-month-sec::before{
		width: 278px;
	}
	.month-free{
		max-width: 551px;
	}
	.first-month {
		padding-bottom: 78px;
	}
	.first-month h5{
		margin-top: -40px;
	}
	.how-it-work h2, .why-title h2{
		font-size: 32px;
		line-height: 36px;
		margin: 0 0 25px;
	}
	.how-it-work h6{
		margin: 0 0 25px;
	}
	.how-it-sec{
		margin-bottom: 116px;
	}
	.drive-list li{
		padding: 70px 0;
	}
	.drive-list li:nth-child(2){
		padding: 0;
	}
	.drive-right{
		-webkit-justify-content: flex-end;
		-moz-justify-content: flex-end;
		-ms-justify-content: flex-end;
		justify-content: flex-end;
	}
	.drive-list li:nth-child(even) .drive-right{
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		-ms-justify-content: flex-start;
		justify-content: flex-start;
		padding-right: 30px;
	}
	.drive-list li:nth-child(even) .drive-left{
		padding-left: 30px;
	}
	.drive-list li .drive-left{
		padding-right: 30px;
	}
	.drive-list li .drive-right{
		padding-left: 30px;
	}
	.data-drive::after{
		height: 92%;
	}
	.testimo-owl .test-box p{
		font-size: 16px;
	}
	.test-disc .test-img img {
		width: 78px;
		height: 78px;
	}
	.testimo-owl .quote-icon img{
		width: 48px;
	}
	.test-disc .test-txt h5{
		font-size: 20px;
		margin-bottom: 5px;
	}
	.test-disc .test-txt h6{
		font-size: 16px;
		line-height: 18px;
	}
	.pick-plan {
		padding: 0px 15px 50px;
	}
	.sales-left p{
		font-size: 20px;
	}
	.why-explore-sec {
		padding: 90px 0 70px;
	}
	.why-list li p{
		font-size: 15px;
		line-height: 20px;
	}
	.client-logos-sec {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.footer-main{
		padding: 90px 0;
	}
	.drive-left h3{
		margin: 0 0 20px;
	}
	.nav-menu ul li{
		margin-right: 27px;
	}
	.nav-btns{
		width: 38.26%;
	}
	.save-list li:nth-child(3) a.btn {
		padding: 8.5px 120px;
	}
	.banner-inner::after{
		width: 298px;
	}
	.our-company-sec {
		padding: 58px 0 42px;
	}
	.company-value{
		padding-top: 0;
	}
	.company-value li .value-left{
		padding-left: 36px;
		padding-right: 30px;
		padding-top: 36px !important;
	}
	.abt-save {
		padding: 75px 0;
	}
	.blog-area-sec::before{
		width: 257px;
	}

}
@media screen and (max-width: 991px){
	.desk-bar{
		opacity: 0;
		visibility: hidden;
	}
	.mobile-nav.desk-bar{
		opacity: 1;
		visibility: visible;
	}
	.desk-menu .container{
		padding: 0 !important;
	}
	.mobile-menu{
		font-size: 27px;
		cursor: pointer; 
		z-index: 90;
		display: block;
		color: #fff;
	}
	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		background-color: #061836;
		overflow-x: hidden;
		transition: 0.5s;
		text-align:center;
	}
	.mobile-nav{
		top: 0 !important;
	}
	.closebtn, .mobile-nav.mobile-menu{
		display: none;
	}
	.mobile-nav .closebtn {
		position: absolute;
		top: 10px;
		right: 15px;
		font-size: 32px;
		margin-left: 50px;
		z-index: 999;
		color: #e8f0ff;
		display: block;
	}
	.mobile-nav .header-left{
		width: 60%;
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		-ms-justify-content: flex-start;
		justify-content: flex-start;
		-ms-flex-pack: flex-start;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		padding-left: 15px;
		height: 74px;
	}
	.mobile-nav .header-right, .mobile-nav .nav-btns {
		width: 100%;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
	}
	.mobile-nav .header-right{
		position: absolute;
		top: 80px;
		-webkit-align-items: flex-start;
		-moz-align-items: flex-start;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	.mobile-nav .nav-menu{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.mobile-nav .nav-menu ul li{
		width: 100%;
		margin-right: 0;
	}
	.mobile-nav .nav-menu ul li a{
		margin-left: 0;
		font-size: 20px;
		position: relative;
		padding: 20px 0;
	}
	.mobile-nav .nav-drop a span{
		position: absolute;
		top: 36px;
		right: 10px;
	}
	.mobile-nav .nav-drop a span img{
		width: 15px;
	}
	.mobile-nav .nav-btns{
		padding: 25px 0; 
	}
	.mobile-nav .nav-menu ul li a::after{
		height: 2px;
	}
	.mobile-header{
		position: fixed;
		top: 0px;
		width: 100%;
		z-index: 99;
		height: 74px;
		background: #061836;
		transition: top 0.5s ease 0s;
		-webkit-transition: top 0.5s ease 0s;
		-moz-transition: top 0.5s ease 0s;
		-o-transition: top 0.5s ease 0s;
	}
	.mobile-left{
		width: 30%;
	}
	.mobile-right{
		width: 70%;
	}
	.mobile-nav .nav-btns .log-btn, .mobile-nav .nav-btns .cont-btn{
		padding: 9px 41px;
	}
	.mobile-nav .nav-drop:hover .right-submenu{
		width: 100%;
	}
	.mobile-nav .nav-drop .right-submenu{
		display: none;
	}
	.mobile-nav .nav-drop .right-submenu ul{
		padding-left: 60px;
	}
	.mobile-nav .nav-drop .right-submenu ul li a{
		font-size: 16px;
		padding: 16px 0;
	}
	.mobile-nav .nav-menu ul li.menu-active a::after{
		background: #001A46;
	}
	.mobile-nav .nav-drop .right-submenu ul li a::after{
		height: 0;
	}
	.why-list li{
		padding: 36px 24px 20px;
	}
	.why-list li h5{
		font-size: 22px;
		line-height: 27px
	}
	.save-list li, .save-list li:nth-child(3){
		width: 100% !important;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
	}
	.save-list li:nth-child(2){
		margin-bottom: 10px;
	}
	.save-time-sec{
		padding: 50px 0;
	}
	.footer-main {
		padding: 50px 0 40px;
	}
	.contact-sales-team{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
		height: auto;
		padding: 20px 30px;
	}
	.sales-left, .sales-right{
		width: 100%;
		text-align: center;
	}
	.sales-left p {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 15px;
	}
	.sales-right a.btn{
		padding: 9px 66px;
	}
	.footer-left {
		width: 36.79%;
	}
	.footer-right{
		width: 63.21%;
	}
	.testimo-owl .test-box{
		padding: 36px 30px 30px;
	}
	.inst-img {
		height: 72px;
		max-width: 60px;
		margin: 0 auto 7px;
		display: flex;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
		-webkit-align-items: flex-end;
		-moz-align-items: flex-end;
		-ms-align-items: flex-end;
		align-items: flex-end;
	}
	.price-view p{
		font-size: 17px;
    	line-height: 26px;
	}
	.banner-inner .home-bnr-area{
		padding-top: 96px;
	}
	.blog-area .blog-box p {
		font-size: 15px;
		line-height: 20px;
	}
	.blog-area li{
		width: calc(100%/2 - 15px/2);
	}
	.blog-area li:nth-child(3n + 3){
		margin-right: 15px;
	}
	.blog-area li:nth-child(2n + 2){
		margin-right: 0;
	}

}
@media screen and (max-width: 767px){
	.btn{
		padding: 9px 87px;
	}
	.home-banner-sec::after {
		width: 168px;
	}
	.home-bnr-area {
		top: 30.3%;
		left: 0;
		transform: none;
		padding: 0 15px;
	}
	.first-month-sec::before{
		display: none;
	}
	.mobile-left {
		width: 60%;
	}
	.mobile-right {
		width: 40%;
	}
	.month-free p{
		font-size: 20px;
	}
	.drive-list li, .drive-list li:nth-child(even){
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.drive-left, .drive-right{
		width: 100%;
	}
	.data-drive::after{
		top: 40px;
		left: 35px;
	}
	.line-top{
		left: 51px;
	}
	.drive-list li:nth-child(1) .drive-left, .drive-list li:nth-child(3) .drive-right,
	.drive-list li:nth-child(even) .drive-left, .drive-list li:nth-child(3) .drive-left{
		padding: 0;
		padding-left: 70px;
	}
	.drive-list li .drive-right{
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
	}
	.drive-list li:nth-child(even) .drive-right{
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
		padding: 0;
		padding: 0 30px;
	}
	.anylist-icon{
		width: 16.84%;
	}
	.drive-list li:nth-child(2) .anylist-icon{
		    padding: 0;
	}
	.drive-list li:nth-child(even) .drive-right{
		padding-left: 50px;
		padding-right: 0;
	}
	.drive-list li {
		padding: 50px 0;
	}
	.data-drive::after {
		height: 100%;
	}
	.drive-left p{
		max-width: 100%;
	}
	.home-bnr-area h1{
		font-size: 32px;
		line-height: 38px;
	}
	.testimo-owl.owl-carousel .owl-dots{
		display: flex !important;
		width: 124px;
		overflow: auto;
	}
	.why-list li{
		width: 100%;
		margin-right: 0;
	}
	.save-time{
		height: auto;
		padding: 20px 30px;
	}
	.save-list li:nth-child(2) p{
		text-align: center;
	}
	.footer-main .container{
		padding-right: 15px;
	}
	.footer-left, .footer-right{
		width: 100%;
	}
	.footer-main .footer-right .footer-1,
	.footer-main .footer-right .footer-2, .footer-main .footer-right .footer-3{
		width: 33.33%;
	}
	.footer-main .footer-right .footer-1, .footer-main .footer-right .footer-2,
	.footer-main .footer-right .footer-3{
		margin-bottom: 25px;	
	}
	.footer-main .footer-right h4{
		margin-bottom: 15px;
	}
	.footer-main .footer-right ul li a{
		font-size: 14px;
    	line-height: 18px
	}
	.social-ftr.social-dsk, .dsk-cp{
		display: none;
	}
	.test-disc .test-txt{
		width: calc(100% - 103px);
	}
	.diamond-sec h2 {
		font-size: 27px;
		line-height: 30px;
	}
	.banner-inner .home-bnr-area h1{
		max-width: 360px;
	}
	.company-value li .value-left, .company-value li .value-right{
		width: 100%;
	}
	.company-value li, .company-value li:nth-child(even){
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.company-value li .value-left, .company-value li:nth-child(even) .value-left{
		padding-left: 20px;
		padding-right: 20px;
	}
	.company-value li{
		padding-bottom: 0 !important;
	}
	.value-title h2{
		font-size: 30px;
    	line-height: 30px;
	}
	.blog-area-sec .blog-area li{
		width: 100%;
		margin-right: 0 ;
	}

}
@media screen and (max-width: 480px){
	.home-bnr-area{
		top: 25.3%;
	}
	.home-bnr-area h1 {
		font-size: 30px;
		line-height: 36px;
	}
	.first-month h5{
		font-size: 20px;
		line-height: 30px;
	}
	.how-it-work h2, .why-title h2{
		font-size: 27px;
		line-height: 32px;
	}
	.data-drive::after{
		left: 25px;
	}
	.line-top {
		left: 41px;
	}
	.testimo-owl .test-box {
		padding: 36px 15px 30px;
	}
	.test-disc .test-txt h5 {
		font-size: 17px;
	}
	.testimo-owl .test-box p {
		font-size: 15px;
	}
	.test-disc .test-txt h6 {
		font-size: 14px;
		line-height: 18px;
	}
	.test-disc .test-img img {
		width: 60px;
		height: 60px;
	}
	.testimo-owl .quote-icon img {
		width: 40px;
	}
	.sales-right a.btn{
		font-size: 15px;
	}
	.sales-right a.btn {
		padding: 9px 27px;
	}
	.why-explore-sec {
		padding: 60px 0 50px;
	}
	.client-logos-sec {
		padding-top: 50px;
		padding-bottom: 40px;
	}
	.save-list li:nth-child(1) p{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.save-list li:nth-child(3) a.btn {
		padding: 8.5px 74px;
	}
	.comp-title h3 {
		font-size: 22px;
		line-height: 30px;
	}
	.how-it-sec{
		padding: 50px 0 0;
	}
	.why-list li h5 {
		font-size: 21px;
		line-height: 25px;
	}
	.why-list li {
		padding: 24px 24px 27px;
	}
	.footer-main .footer-right .footer-1, 
	.footer-main .footer-right .footer-2, 
	.footer-main .footer-right .footer-3{
		width: 100%;
	}
	.banner-inner .home-bnr-area {
		padding-top: 45px;
	}
	.diamond-sec h2 {
		font-size: 22px;
		line-height: 27px;
	}
	.diamond-sec{
		padding: 69px 0 36px;
	}
	.banner-inner::after, .blog-area-sec::before{
		display: none;
	}
	.blog-bnr .home-bnr-area{
		padding-bottom: 36px;
	}
	.blog-area-sec {
		padding-bottom: 25px;
	}
}